<div id="model">
    <div>
        <input type="checkbox" class="checkbox-inline " checked="checked" /> <label> All</label>
    </div>

    <div>
        <input type="checkbox" class="checkbox-inline " checked="checked" /><label> CL </label>
    </div>

    <div>
        <input type="checkbox" class="checkbox-inline " checked="checked" /> <label> EL </label>
    </div>



    <div>
        <input type="checkbox" class="checkbox-inline " checked="checked" /> <label>ILX  </label>
    </div>

    <div>
        <input type="checkbox" class="checkbox-inline " checked="checked" /><label> Legend </label>
    </div>

    <div>
        <input type="checkbox" class="checkbox-inline " checked="checked" /> <label> EL </label>
    </div>



    <div>
        <input type="checkbox" class="checkbox-inline " checked="checked" /> <label>ILX  </label>
    </div>

    <div>
        <input type="checkbox" class="checkbox-inline " checked="checked" /><label> CL </label>
    </div>

    <div>
        <input type="checkbox" class="checkbox-inline " checked="checked" /> <label> EL </label>
    </div>



    <div>
        <input type="checkbox" class="checkbox-inline " checked="checked" /> <label>ILX  </label>
    </div>

    <div>
        <input type="checkbox" class="checkbox-inline " checked="checked" /><label> CL </label>
    </div>

    <div>
        <input type="checkbox" class="checkbox-inline " checked="checked" /> <label> EL </label>
    </div>



    <div>
        <input type="checkbox" class="checkbox-inline " checked="checked" /> <label>ILX  </label>
    </div>
</div>

